.header-box{
  /* background-color: coral; */
}

body {
  background: linear-gradient(to bottom, #FFC778, #FFF);
  margin: 10em;
  margin-top: 30px;  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.todo{
  font-family: 'Vollkorn', serif;
  font-size: 50px;
  font-style: inherit;
  padding: auto;
  margin-bottom: 10px;

}

.container{
  margin-bottom: 10px;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  display: flex;
}

.btn-success{
  margin-left: 20px;
}

nav{
  margin-top: 30px;
  margin-left: 30px;
}
.deletemodal-footer{
  text-align: center;
  padding-bottom: 10px;
}

.modal-bodys{
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#cancel-button{
  margin-right: 30px;
}

.task-body{
  /* height: 500px; */
  /* background-color: darkgreen; */
}
.taskList{
  padding: 0.5em 1em;
  margin: 2em 0;
  /* width: 70%; */
}

table{
  
  border-collapse: collapse;
  /* border-spacing: 0px 8px; */
}

td.status-red{
  background-color: red;
}
td.status-green{
  background-color: green;
}
td.status-blue{
  background-color: blue;
}

.taskHead{
  text-align: center;
}
table th,td  {
  border-bottom:1px solid black;
  /* padding: 10px;      余白指定 */
  text-align: center;
  padding: 5px;
  font-size: larger;
  border-spacing: 5px;
}

table th
.deletemodal-footer {
  margin: auto;
  padding-bottom: 10px;
}

.sticky-top{
  width: 500px;
  /* background-color:indianred; */
  padding: 0.5em 1em;
  margin-left:20px;
}

.deadTask-button{
  margin-top: 20px;
  margin-left: 20px;
}

.deadTask-Cbutton{
  margin-top: 20px;
  margin-left: 20px;
}