* {
  margin:0; padding:0;
}

.boby{
  min-height: 100vh;

}

article {
  min-height: 100vh;
  padding: auto;
}

.main {
  background-color:#d7f3a6;
  /* min-height: 100vh; */
  width: 100%;
  /* text-align:center; */
  margin-left:0 auto;/*サイドバーとメインコンテンツの間に隙間                    をあけた*/
}

header {
  height: 30%;
  width: 100%;
  padding: 15px 0;
  background-color: #337079;
  color: white;
}
header .headline{
    line-height: 100px;
    float: left;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 100px;
}

body {
  /* background: linear-gradient(to bottom, #FFC778, #FFF); */
  /* margin: 10em; */
  /* margin-top: 30px;   */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.todo{
  font-family: 'Vollkorn', serif;
  font-size: 50px;
  font-style: inherit;
  padding: auto;
  /* margin-bottom: 10px; */
}

.container{
  /* width: 700px; */
  /* margin-bottom: 10px;*/
  margin-left: 0px;
  margin-top: 10px;
  padding-left: 0px;
  padding-bottom: 10px;
  display: flex;
}

.deletemodal-footer{
  text-align: center;
  padding-bottom: 10px;
}

.modal-bodys{
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-body{
  margin-left: 150px;
}
#cancel-button{
  margin-right: 30px;
}

.taskList{
  padding: 0.5em 1em;
  margin: 2em 0;
  width: 80%;
  /* display: flex; */
}


td.status-red{
  background-color:rgb(228, 94, 53);
}
td.status-green{
  background-color: rgb(13, 129, 23);
}
td.status-blue{
  background-color: rgb(55, 108, 189);
}

.taskHead{
  border-bottom:1px solid black;

  text-align: center;
}
table{
  background-color: #ffffff;
  border:1px solid black;
  padding: 10px; 
  text-align: center;
  padding: 10px;
  font-size: larger;
}

table th
.deletemodal-footer {
  margin: auto;
  padding: 10px;
}

.br{
  border-bottom:1px solid black;
}

table td{
  padding: 10px;
}

.sticky-top{
  width: 500px;
  /* background-color:indianred; */
  padding: 0.5em 1em;
  margin-left:20px;
}

.button-box {
  margin-top: 30px;
  padding: auto;
}

#create-Task{
  width: 10%;
  margin-top: 20px;
  margin-left: 40px;
}

#deadTask-button {
  margin-top: 20px;
  margin-left: 50px;
  /* background-color: red; */
}
#ongoing-button{
  margin-top: 20px;
  margin-left: 20px;
}

#deadTask-Cbutton{
  margin-top: 20px;
  margin-left: 20px;
}

a.btn--red.btn--cubic {
  border-bottom: 5px solid #ffffff;
}

a.btn--red.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #ffffff;
}

a.btn--radius {
  border-radius: 100vh;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}

#search-text{
  width: 200px;
    height: 2em;

}
.search-area{
  margin-top: 10px;
  margin-left: 40px;
}


footer {
  width: 100%;
  /* height: 120px;  */
  text-align: center;
  padding: 50px 0;
  background-color:mediumaquamarine;
}